@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: aqua;
    background: url(../images/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    width: 311px;
    height: 625px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: absolute;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;

    border-radius: 3px;

}

section#redes-sociais {
    text-align: right;
}
section#redes-sociais a {
    display: block;
    padding: 10px;
}
section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.404);
}